<div>
    
    <h2>new celebrity</h2>

    <form action="/celebrities/create" method="POST">

        <label for="name">Nombre</label>
        <input type="text" name="name">
        <br>
            <label for="occupation">Ocupación</label>
        <input type="text" name="occupation">
        <br>
            <label for="catchPhrase">Cita célebre</label>
        <input type="text" name="catchPhrase">
        <br>
        <button>Añadir celebridad</button>
    </form>


</div>